@page "/additional"

@using System.Net.Mail
@using System.Net
@inject BlazorApp.Data.CategoryService CategoryService

<button class="btn btn-primary" @onclick="SendMessage">Рассылка</button>


@code {
        List<string> mails = new List<string>();
    protected override void OnInitialized()
    {
        mails = CategoryService.GetEmails();
    }

    void SendMessage()
    {
        MailAddress from = new MailAddress("minsk.samurai.app@gmail.com", "Автор");
        for (int i=1;i<100;i++)
        {
            MailAddress to = new MailAddress("top_nik@inbox.ru");
            MailMessage m = new MailMessage(from, to);
            m.Subject = "SALAM";
            m.Body = "<h2>опа</h2>";
            m.IsBodyHtml = true;
            // адрес smtp-сервера и порт, с которого будем отправлять письмо
            SmtpClient smtp = new SmtpClient("smtp.gmail.com", 587);
            smtp.Credentials = new NetworkCredential("minsk.samurai.app@gmail.com", "1234QwEr");
            smtp.EnableSsl = true;
            smtp.Send(m);
        }
    }
}
