@page "/categories"
<h1 class="text-black-50 m-auto">Категории</h1>
<RadzenTabs Style="width:100%; margin:auto">
    <Tabs>
        <RadzenTabsItem Text="Спортивные категории">
                <div class="row">
                    <div class="col-md-1 border border-dark" style="height:100px;">
                        <p>Id</p>
                    </div>
                    <div class="col-md-3 border border-dark" style="height:100px;">
                        <p>Категория</p>
                    </div>
                    <div class="col-md-1 border border-dark" style="height:100px;">
                        <p>Тип</p>
                    </div>
                    <div class="col-md-3 border border-dark" style="height:100px;">
                        <p>Возрастная группа</p>
                    </div>
                    <div class="col-md-3 border border-dark" style="height:100px;">
                        <p>Весовая группа</p>
                    </div>
                    <div class="col-md-1 border border-dark align-content-center" style="height:100px;">
                        <RadzenButton class="p-xl-2">Добавить</RadzenButton>
                    </div>
                </div>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Возрастные группы">

        </RadzenTabsItem>
        <RadzenTabsItem Text="Весовые группы">

        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
@code {
    
}
