@page "/scoreboard"
<div class="main-header-div">
    <h1 class="main-header">Счет</h1>
</div>

<div style="padding-left:15px;">
    <div class="row" style="height: 460px;">
        <div class="col-2" style="padding:0px;background-color:red;"></div>
        <div class="col-8" style="padding:0px;background-color:dodgerblue;color:white;">
            <p style="font-size:130px;text-align:center;vertical-align:middle;">A</p>
            <p style="font-size:130px;text-align:center;vertical-align:middle;">00:00</p>
        </div>
        <div class="col-2" style="padding:0px;"></div>
    </div>
    <div class="row" style="height:200px;padding:0px;">
        <div class="col" style="background-color:Highlight;border:1px solid white;color:white;">
            <p style="font-size:130px;text-align:center;vertical-align:middle;">0</p>
        </div>
        <div class="col" style="background-color:Highlight;border:1px solid white;color:white;">
            <p style="font-size:130px;text-align:center;vertical-align:middle;">1</p>
        </div>

    </div>
    <div class="row" style="height: 200px;padding:0px;">
        <div class="col" style="background-color:Highlight;border:1px solid white;color:white;">
            <p style="font-size:130px;text-align:center;vertical-align:middle;">1</p>
        </div>
        <div class="col" style="background-color:Highlight;border:1px solid white;color:white;">
            <p style="font-size:130px;text-align:center;vertical-align:middle;">0</p>
        </div>

    </div>
</div>
@code {

}
