@using BlazorInputFile
@using System.IO
@using BlazorApp.Models
@using FileHelpers
@using System.Text.Encodings
<div class="container" style="justify-content:center;">
    <InputFile OnChange="HandleSelection" />
    <h3>@status</h3>
    <RadzenButton Style="background-color: #4287f5;" Text="Сохранить" Click="@SaveChanges"/>
    <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Отмена" Click="@Cancel"/>
</div>
@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    string FileContent, FileName;
    string status;
    List<Competitor> result = new List<Competitor>();
    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            using (var reader = new StreamReader(file.Data, System.Text.Encoding.UTF8))
            {
                try
                {
                    FileContent = await reader.ReadToEndAsync();
                    FileName = file.Name;

                    var engine = new FileHelperEngine<Competitor>();
                    result = engine.ReadString(FileContent).ToList();

                    status = "Загрузка успешна";
                }catch(FileHelpers.ConvertException e)
                {
                    status = "Данные в файле в неверном формате";
                }catch(FileHelpers.FileHelpersException e)
                {
                    status = "Не подходит формат файла";
                }
                //status = result[0].FirstName + "," + result[0].LastName + "," + result[0].BirthDate.ToShortDateString();
            }
        }
    }

    async Task SaveChanges() => await BlazoredModal.CloseAsync(ModalResult.Ok(result));
    async Task Cancel() => await BlazoredModal.CancelAsync();
}
